body
{
    background: #d2d2d4;   
}

/* Navbar */

.navBar
{
    margin-top: 1em;
    display: flex;
    flex-flow:row;
    background-color: #a9a9ac;
    border-radius: 5em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    

}

.Logo
{
padding: 1vh 1vh;
 height: auto;
 width: 15vh;  
 margin-right: 1vw;
 padding-right: 10vw;
}


.navButton
{
    border:0.8em solid rgba(255,255,255,0);
    border-radius:2em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size: auto;
    color :#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #f7d38b;
    height: 5vw;
    width: auto;
    flex-grow: 1;
    margin-right: 2vw;
    margin-left: 4vw;
}

.navButton:hover
{
    border-color: rgb(83, 75, 75);
    border-width: 0.1em;
}

/* layout flex */
.layoutWrapper
{
    display: flex;
    flex-flow: row;
}
/* Layout left*/

figure
{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1em;
    border-radius: 1em;
    border-style: solid;
    border-color:#842d34;
    border-width: 1em 0em 1em 0em;
    margin: 1em 0;
    flex-wrap:nowrap;
    height: 15vw;
    width: 60vw;

    
}

.Pitch1
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    flex: 1;
    
} 


.fixedImage
{
    height: auto;
    width:max-content;
    object-fit:scale-down;
    flex: 0;
}

/* Layout right */



.speech
{
    color: black;
    background-color: #a9a9ac;
    border-radius: 1em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 1vw;
    height: 90%;
    text-align: center;
}

.speech p
{
    font-size:small;
    font-weight: bold;
    padding: 5em 1em 1em 1em;

}