body
{
    background: #9e9da6;   
}

/* Navbar */

.navBar
{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
    
}

.Logo
{
 height: auto;
 width: 25vh;  
}

button.navBar
{
    border-style:double;
    border- : 5vh;
}
