body
{
    background: #d2d2d4;   
}

/* Navbar*/

.navBar
{
    margin-top: 1em;
    display: flex;
    flex-flow:row-reverse;
    background-color: #a9a9ac;
    border-radius: 5em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items:center;
    justify-content: space-evenly;

}

.spacer
{
    width:40em;
}
.Logo
{
padding: 1vh 1vh;
 height: auto;
 width: 15vh;  
 margin-right: 1vw;
 padding-right: 10vw;
 filter:saturate(180%);
 
 
}


.navButton
{
    border:0.2em solid rgba(255,255,255,0);
    border-radius:2em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size: 100%;
    color :#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #f7d38b;
    height: auto;
    width: auto;
    flex-grow: 1;
    margin-right: 2vw;
    margin-left: 4vw;
    margin-top: 1vh;

    
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    
    .navBar
    {
    margin-top: 1em;
    display: flex;
    flex-flow:column;
    background-color: #a9a9ac;
    border-radius: 5em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: 5vw 20vw 5vw 20vw;
    padding: 1rem;
    
    
    }

    .layoutWrapper
    {
        display: flex;
    flex-flow: column;
    /*for speech image responsiveness */
    flex-wrap: wrap;
    }

    .Logo
    {
    padding: 1vh 1vh;
    height: auto;
    width:fit-content;  
    margin-right: -5vw;
    padding-right: 10vw;
    filter:saturate(180%);
    }

}
   
.navButton:hover
    {
        border-color: rgb(83, 75, 75);
        border-width: 0.1em;
    }


/* layout flex */

.layoutWrapper
    {
        display:flex;
        flex-direction:row;
        align-items:baseline;
        flex-wrap: nowrap;
        
    }


/* Layout left*/



.fixedImage
{
   object-fit: cover;
   border-radius: 1em;
    border-radius: 1em;
    border-style: solid;
    border-color:#842d34;
    border-width: 1em 0em 1em 0em;
    margin: 1em 0;
    height: 30vw;
    width: 60vw;  
   
}

/* Layout right */

.layoutRight
{
}
.speech
{
    color: black;
    background-color: #a9a9ac;
    border-radius: 1em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 1vw;
    height: 50vh;
    width: auto;
    background-image: url(https://www.plastico.com/documenta/imagenes/125061/Impresion-3D-se-abre-paso-en-la-industria-mexicana-G.jpg);
    background-position:center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    padding: 10vh;
    position:sticky;
    padding-top: 10vh;
    
}


.speech p
{
    font-size:small;
    font-weight: bold;
    padding: 5em 1em 1em 1em;
    align-self: center;
}

.speech span
{
    font-weight: bolder;
    color: #042fa0;
}
/* CTA */
.CTA
{
    display: flex;
    flex-flow: row wrap;
}
.CTA button
{
    border:0.2em solid rgba(255,255,255,0);
    border-radius:0.5em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size: 100%;
    color :#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #f7d38b;
    height: 10vh;
    width: auto;
    flex-grow: 1;
    margin-right: 2vw;
    margin-left: 4vw;
    margin-top: 1vh;
    
}

.CTA button:hover
{
    
    border-color: rgb(83, 75, 75);
    border-width: 0,1em;
    
}
/* Footer */
.footer
    {
        margin-top: 1em;
        display: flex;
        flex-flow:row;
        background-color: #a9a9ac;
        border-radius: 5em;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        align-items: center;
        justify-content: center;
        height: 5vh;
    }

.footer div
{
    height: 1vh;
    width: 5vw;
}
